/*General*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(0, 0, 255, 0.21);
}

.d-flex{
  display: flex;
}

.space-evenly{
  justify-content: space-between;
}

.section{
  padding: 30px 10px;
}

.section-violet{
  background-color: #9792e4;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;

}

.margin-r-10{
  margin-right: 10px;
}

/*Header*/
header{
  justify-content: center;
  height: 60px;
  background-color: #0084fd;
}

header .menu{
  align-items: center;
}

header ul{
  list-style: none;
}

header ul li{
  display: none;
}

header ul a{
  text-decoration: none;
  margin: 0 10px;
}

.header-container{
  width: 95%;
}

@media screen and (min-width:1160px){
  .header-container{
    width: 80%;
  }

  header ul li{
    display: block;
  }

  .hamburger{
    display: none;
  }
}

.logo{
  align-items: center;
}

/*Main*/

.card-container{
  width: 100%;
}

.card{
  background-color: #b5ddff;
  width: 100%;
  height: 300px;
  border: 1px solid;
  margin-bottom: 10px;
  border-radius: 20px;
}

.card:last-child{
  margin-bottom: 0px;
}

@media screen and (min-width:760px) {

  .card-container{
    display: flex;
    flex-wrap: wrap;
  }

  .card{
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px;
  }

  .card:nth-child(1) {
    width: calc(100% / 3 * 2 - 20px);
  }
}

@media screen and (min-width:1160px) {

  .section{
    display: flex;
    justify-content: center;
  }

  .card-container{
    width: 80%;
  }
}

.box-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  background-color: yellow;
  height: 300px;
  border: 1px solid;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 100%;
}

@media screen and (min-width:1160px) {

  .box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .box{
    width: 30%;
  }

  .box:first-child{
    margin-right: 10px;
  }
}


